.u-paddingTop-null {
   padding-top: 0 !important;
}
.u-text-align-r {
   text-align: right !important;
}
.u-text-align-c {
   text-align: center !important;
}
.u-margin-top-05 {
   margin-top: 0.5rem !important;
}
