.btn {
   font-weight: bold;
   padding: 5px 15px;
   border: none;
   border-radius: 10px;
   background-color: #f1f1f1;

   cursor: pointer;
   transition: 0.2s ease-in;
}
.btn:hover {
   transform: translateY(-2px);
   box-shadow: 0 4px 10px rgba(23, 32, 42, 0.4);
}
